@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: url(../imgs/sakura.png);
    font-family: "Roboto", sans-serif;
}

.bkg-flores{
    background: url(../imgs/flores.png);
}

.bkg-floresta{
    background: url(../imgs/floresta-clima-quente.png);
}

.bkg-cordilheiras{
    background: url(../imgs/cordilheiras.png);
}

.quadrado{
    height: 100dvh;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.quadrado-branco{
    padding: 60px;
    width: 620px;
    height: 700px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.quadrado-branco h1{
    font-size: 50px;
    font-weight: 400;
}

.quadrado-branco p{
    margin: 80px 0 50px 0;
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
}

.quadrado-branco a{
    font-weight: 700;
    font-size: 30px;
    color: #C50000;
}

.seta{
    align-self: center;
    width: 56px;
    height: 78px;   
}

.esquerda{
    margin-right: 61px;
}

.direita{
    margin-left: 850px;
}

.seta-canto{
    opacity: 50%;
}